.App {
  text-align: center;
}

body {
    background-color: #e0e3e8;
    font-family: "Rubik", sans-serif;
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: 0.5s;
    outline: none;
}

